<a href="https://colab.research.google.com/github/cordmaur/PythonForScientists/blob/main/Python4Scientists_Lesson2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 2

## Basic Types - part 2

### Tuples

In [33]:
t = (1, 2, 3, 4, 5)
t

(1, 2, 3, 4, 5)

In [17]:
# tuples are imutable
# t[0] = 0

In [ ]:
# t.

In [13]:
type(t)

tuple

In [14]:
t[0:3]

(1, 2, 3)

In [22]:
# values separated by comma are packed into tuples automatically
x = 0
y = 1
x, y

(0, 1)

In [29]:
# tuple unpacking
(a, b) = (x, y)
(a, b)

(0, 1)

In [30]:
a, b = x, y
a, b

(0, 1)

In [31]:
# Unpacking now works with any iterable
employee = ["John Doe", "40", "Software Engineer"]
name = employee[0]
age = employee[1]
job = employee[2]
name, age, job

('John Doe', '40', 'Software Engineer')

In [38]:
name, age, job = ["John Doe", "40", "Software Engineer"]
name, age, job

('John Doe', '40', 'Software Engineer')

In [40]:
# it can Unpack ANYTHING Python can iterate on (Iterable)
m, a, u, r, i, c, i2, o = "Maurício"
m, a, u, r, i, c, i2, o

('M', 'a', 'u', 'r', 'í', 'c', 'i', 'o')

<b>Note:</b> For more packing and unpacking examples, go to:<br>
https://stackabuse.com/unpacking-in-python-beyond-parallel-assignment/#definingfunctionswithand

### List comprehension

List comprehension offers a shorter syntax when you want to create a new list based on any iterable. <br>
[operation(X) for X in "list"] and each operation(X) will be an item of a new list

In [47]:
# Suppose we want the square of each item in this list, in a new list
lst = [1, 2, 3, 4, 5]

new_list = []
for x in lst:
    new_list.append(x**2)

new_list

[1, 4, 9, 16, 25]

In [49]:
new_list = [x**2 for x in lst]
new_list

[1, 4, 9, 16, 25]

In [52]:
# unpacking inside a list comprehension
# Suppose 3 students, with its ages:
lst = [('A', 11), ('B', 9), ('C', 10)]

# create a lst like:
# students = ['Student A', 'Student B', 'Student C']
students = []
for student, age in lst:
    s = "Student " + str(student) + " has " + str(age) + " years old"
    students.append(s)

students

['Student A has 11 years old',
 'Student B has 9 years old',
 'Student C has 10 years old']

In [43]:
# in a more concise way

students = ["Student " + student for student in t]
students

['Student A', 'Student B', 'Student C']

In [ ]:
import random

# create the days and daily rain
random.seed(1)

rain_jan = []

for i in range(1, 32, 1):
    day_of_month.append(i)
    daily_rain.append(random.randint(0, 100))

str(day_of_month), str(daily_rain)

### Dictionaries

In [26]:
b = a
id(a), id(b)

(139688828595648, 139688828595648)

In [28]:
l = [1, 2, 3]
l1 = l
l[1] = 20
l1

[1, 20, 3]

In [1]:
import random

# create the days and daily rain
random.seed(1)

daily_rain = []
day_of_month = []

for i in range(1, 32, 1):
    day_of_month.append(i)
    daily_rain.append(random.randint(0, 100))

str(day_of_month), str(daily_rain)

('[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]',
 '[17, 72, 97, 8, 32, 15, 63, 97, 57, 60, 83, 48, 100, 26, 12, 62, 3, 49, 55, 77, 97, 98, 0, 89, 57, 34, 92, 29, 75, 13, 40]')

In [2]:
y = 0
for x in range(10):
    y = x

In [3]:
y

9

In [6]:
x=0

In [7]:
[x for x in range(10, 20)]
x

0